# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/

# Build
*.apk
*.aab
*.ipa
*.appbundle

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
package-lock.json
yarn.lock

# OS
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
